/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #252839;
  color: #C5FF99;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #CFD6FF;
}

a:hover, a.active-nav {
  color: #D5FFB5;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}
button:focus {
  outline: none;
}

nav {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}

nav li {
  display: inline-block;
  margin: 0.5em;
}

button {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;

}

.button-box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  max-width: 400px;
}
.button-box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.spork-button {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width:100%;
  border: 10px solid #D5FFB5;
  background-color: #63677A;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 5em;
  color: inherit;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}
.spork-button:hover {
  background-color: #A1A8C7;
}
.spork-button:active {
  top:3%;
  bottom:-3%;
}

/*for food and drinks toggle*/
.onoffswitch {
    position: relative; 
    width: 110px;
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "DRINKS";
    padding-left: 10px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    background-color: #63677A; color: #CFD6FF;
}
.onoffswitch-inner:after {
    content: "FOOD";
    padding-right: 10px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    background-color: #D5FFB5; color: #252839;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 76px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

// FOR ANIMATED SPORK
.anim-box {
    display: none;
    width: 100%;
    height: 500px;
    text-align: center;
    position: absolute;
    top: 0;
  }
  
  @keyframes bounce {
    0% {
      top: 300px;
    }
    50% {
      top: 30px;
    }
    100% {
      top: 300px;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg) scale(1, 0.75);
    }
    15% {
      transform: rotate(0deg) scale(1, 1);
    }
    85% {
      transform: rotate(720deg) scale(1, 1);
    }
    100% {
      transform: rotate(720deg) scale(1, 0.75);
    }
  }
  
  .box img {
    position: absolute;
    animation: bounce 1s ease-in-out infinite alternate, spin 1s cubic-bezier(.25, 0, .75, 1) infinite alternate;
    height: 100px;
  }

